/* - Almost White: hsl(0, 0%, 98%) */
/* - Medium Gray: hsl(0, 0%, 41%) */
/* - Almost Black: hsl(0, 0%, 8%) */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
}

img{
    width: 100%;
    max-width: 100%;
}










button{
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 2rem;
}








#openmenu, #closemenu{
    margin: 2rem 1rem;
    float: right;
}


.navbar{
    position: fixed;
    opacity: 0;
    z-index: -9999999;
    transition: all .3s ease-in-out;
}

.nav-ul{
    margin: 10rem 1.6rem 2rem;
}


.navbar ul li{
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    list-style: none;
    text-decoration: none;
}


.login:hover, .register:hover, .navbar ul li:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.login{
    color: hsl(0, 0%, 41%);
    font-size: 1.5rem;
    margin: 2rem auto ;
    display: block;
    background: transparent;
    transition: all .3s ease;
}

.register{
    color: hsl(0, 0%, 41%);
    font-size: 1.5rem;
    margin: 2rem auto ;
    display: block;
    border: .2rem solid;
    border-radius: 1.3rem;
    padding: 1rem;
    width: 80%;
    max-width: 20rem;
    background: transparent;
    transition: all .3s ease;
}












.features, .company{
    display: flex;
}

.displaynone{
    display: none;
    transition: all .3s ease;
}

.featuresmenu, .companymenu{
    height: max-content;
    width: max-content;
    margin: auto auto ;
    padding: 1rem;
    transition: all .3s ease-in-out;
}


.featuresmenu1, .featuresmenu2, .featuresmenu3, .featuresmenu4{
    display: flex;    
    text-align: center;
    justify-items: center;
    height: 2.6rem;
}

.featuresmenu ul, .companymenu ul{
    margin: 0;
}


.featuresmenu ul li, .companymenu ul li{
    font-size: 1.4rem;
    color: hsl(0, 0%, 41%);
    padding: .7rem .3rem;
}

.rotate{
    transform: rotate(180deg); 
    transition: all .3s ease;
}

.company img, .features img{
    margin: auto 1rem;
    height: .6rem;
    width: auto;
    cursor: pointer;
}

.featuresmenu ul img{
    height: 1.6rem;
    width: auto;
    margin: auto 1rem;
    cursor: pointer;
}









.header nav.open{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    z-index: 99999999;
}










.text{
    margin: 3.1rem 1rem;
    text-align: center;
}

.text h1{
    font-size: 3.5rem;
    font-weight: 700;
}

.text p{
    margin: 2rem .3rem;
    font-size: 1.3rem;
    color: hsl(0, 0%, 41%);
    line-height: 2rem;
}

.text .learnmore button{
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    border: .1rem solid hsl(0, 0%, 8%);
    border-radius: 1rem; 
    background-color: hsl(0, 0%, 8%);
    color: white;
}

.learnmore button:hover{
    background: transparent;
    border: .1rem solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
    transition: all .3s ease-in-out;
}

.imgs{
    margin: 6.9rem auto;
}

.imgs img{
    height: 2rem;
    margin: 0rem .6rem 0;
    width: auto;
}





@media (min-width: 1000px) {
    #openmenu, #closemenu{
        display: none;
    }

    .header{
        display: flex;
        position: relative;
        justify-content: start;
    }

    .navbar{
        display: flex;
        position: relative;
        margin: 1rem;
        opacity: 1;
        z-index: 9999999;
        transition: all .3s ease-in-out;
        width: 100%;
    }
    
    .nav-ul, .nav-ul ul{
        display: flex;
        gap: 3.1rem;
        margin: 0 0 0 2rem;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    .navbar ul li{
        padding: .6rem;
        font-size: 1.2rem;
    }




    .company img, .features img{
        margin: auto 0;
    }

    .featuresmenu ul,.companymenu ul{
        display: block;
        margin: 0;
    }
    
    .featuresmenu, .companymenu{
        position: absolute;
        margin: 0;
        background-color: rgb(255, 255, 255);
        border-radius: .6rem;
        box-shadow: .1rem .1rem 1rem .1rem rgba(0, 0, 0, 0.3);
    }

    .featuresmenu{
        left: -1rem;
        top: 100%;
    }

    .companymenu{
        left: 14rem;
        top: 100%;
    }

    

    .headerbuttons{
        margin-left: auto;
        margin-right: 3.1rem;
        justify-content: flex-end;
        float: right;
        display: flex;
        gap: 3.1rem;
    }
    
    .login, .register{
        font-size: 1.2rem;
        margin: 0;
        font-weight: 700;
    }
    
    .register{
        width: 11rem;
    }












    .maincontainer{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    .text{
        grid-column-start: 1;
        grid-row-end: 1;
        padding: 10% 2%;
        text-align: left;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .text h1{
        font-size: 7rem;
        padding: 0 20%;
    }
    
    .text p{
        margin: 3% 36% 0 20%;
    }

    .text .learnmore{
        margin: 4% 20% 0;
    }

    .text .learnmore button{
        padding: 1rem 2.6rem;
    }

    .text .imgs{
        text-align: center;
        margin: 10% 16% 0 18%;
    }

    .imgs{
        margin: 10% 20% 0;
    }

    .imgs img{
        height: 2.7rem;
        float: left;
    }



    .img{
        grid-column-start: 2;
        text-align: center;
        margin-top: 3.1rem;
    }

    .img img{
        height: auto;
        width: 40rem;
    }
    





}